* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: var(--main-color);
}

:root {
    --main-color: #5D7A98;
    --second-color: #D6F4FF;
    --transition: 0.5s;

}

nav {
    position: relative;
    width: 100vw;
    height: 80px;
    background-color: var(--second-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}


.nav-logo-container a {
    display: block;
    height: 100%;
}

.nav-logo {
    display: inline-block;
    height: 70px;
    margin-left: 20px;
}

.nav-logo:hover {
    transform: rotate(180deg);
    transition: var(--transition);
}


.search-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    
}

 .searchbar {
    height: 25px;
    margin-right: 10px;
    width: 500px;
    border-width: 0.5px;
    border-radius: 5px;
}


.icon-search {
    height: 30px;
    position: relative;
    cursor: pointer;
    z-index: 0;
}

.icon-search-close {
    z-index: 0;
    height: 10px;
    opacity: 0;
}

.search-toggle-btn {
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
}


.navlink-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.menu {
    display: flex;
    justify-content: space-around;
    width: 35vw;
    height: 100%;
    z-index: 1;
}

.menu li a {
    font-size: 30px;
    transition: var(--transition);
    ;
    
       
}

.menu li a:hover {
    color: var(--second-color);
    background-color: var(--main-color);
    border-radius: 50px;
    padding: 15px;
    
}


.burger-menu {
    position: relative;
    width: 30px;
    height: 4px;
    background-color: var(--main-color);
    border-radius: 8px;
    cursor: pointer;
    z-index: 2;
    transition: var(--transition);
}

.burger-menu:before, .burger-menu:after {
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    background-color: var(--main-color);
    border-radius: 8px;
    transition: var(--transition);
}

.burger-menu:before {
    top: -10px;
    width: 20px;
}

.burger-menu:after {
    top: 10px;
    width: 25px;
}

.menu-toggle-btn {
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}

.burger-menu, .menu-toggle-btn {
    display: none;
}


.navlink-container input:checked ~ .burger-menu {
    background-color: transparent;
}

.navlink-container input:checked ~ .burger-menu:before {
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
}

.navlink-container input:checked ~ .burger-menu:after {
    top: 0;
    transform: rotate(45deg);
    width: 30px;
}

.navlink-container input:checked ~ .menu {
    right: 0;
}
    


@media screen and (max-width: 767px) {
    .burger-menu,
    .menu-toggle-btn {
        display: block;
        margin-right: 20px;
    }

    
    .menu {
        justify-content: start;
        flex-direction: column;
        background-color: var(--second-color);
        align-items: center;
        position: fixed;
        top: 0;
        right: -70vw;
        width: 50vw;
        height: 100%;
        padding-top: 80px;
        transition: var(--transition);
        z-index: 1;
    }
    .menu li {
        width: 100%;
        margin: 20px;
        text-align: center;
    }

    .menu li a {
        margin: 40px;
    }

    .nav-logo-container {
        position: absolute;
        margin-left:40vw;
        opacity: 1;
    }

   .search-container {
        background-color: var(--second-color);
}

    .icon-search {
       position: absolute;
       left: 10vw;
       height: 45px;
    }

    .icon-search-close {
        position: absolute;
       left: 5vw;
       height: 100px;
       opacity: 0;
    }

    .search-toggle-btn {
        
        left: 10vw;
        width: 50px;
        height: 100%;
    }


    .searchbar {
        position: absolute;
        left: -550px;
    }    

    .search-container input:checked ~ .searchbar {
        display: flex;
        width: 80vw;
        position: absolute;
        left: 10px;
        bottom: -30px;
        transition: var(--transition);
    }

    .search-container input:checked ~ .icon-search {
        opacity: 0;
    }

    .search-container input:checked ~ .icon-search-close {
        opacity: 1;
    }

   

    }


   
h1  {
    color: #4f859b;
    font-family: Arial;
}
form {
    width: 600px;
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-color:rgb(76, 145, 167);
}
  #name,
  #email,
  #objet,
  #message {
    width: 600px;
    box-sizing: border-box;
    /*padding:10px;
   margin-top: 5px;*/

  }
  #message {
    vertical-align: top;
    height: 10em;
  }
  #formulaire input {
    position: absolute;
  }

  button {
    padding: 0.9em 2em;
    border: 2px solid #084c6b;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    color: rgb(112, 112, 112);
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #eff1f3;
   }
   button::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: rgb(34, 96, 131);
    transition: .5s ease;
    display: block;
    z-index: -1;
   }
   button:hover::before {
    width: 105%;
   }
   button:hover {
    color: rgb(255, 255, 255);
   }
   img{
    width: 40%;
    height: 200px;
   }

   
.main-section {
    position: relative;
    width: 100vw;
    /* min-height: 800px; */
    background-color: white;
    display: flex;
    justify-content: center;

}

.main-container {
    /* position: relative; */
    /* margin-left: 15vw;
    margin-right: 15vw; */
    background-color: #9CBFA7;
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    margin-bottom: 2px;
    
}

.title-container {
    /* display: flex; */
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.description-container{
    display: flex;
    align-items: center;
    
}

.button-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;   
    width: 100%;

}

.image-container {
    display: flex;
    margin-left: 40px;
    margin-right: 40px;

    }

.image-style {
    border-radius: 10px;
    height: 400px;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 8px 5px rgba(201,97,255,0);
    transition: transform 1s;
    /* max-width: 500px;

    position: center; */
}

.image-style:hover{
    -ms-transform: scale(1.02); /* IE 9 */
    -webkit-transform: scale(1.02); /*Safari 3-8*/
    transform: scale(1.02); 

    }

.paragraph-container{
    margin-right: 20px;;
    margin-left: 20px;
}

.contact-info {
    display: flex;
    justify-content: center;
    padding: 30px;
    text-align: center;
}

/*button*/

.link-button {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 10px 20px;
    text-align: center;
    font-size: 14px;
    /* letter-spacing: 1px; */
    text-decoration: none;
    color: black;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border-radius: 10px;
    border: 2px solid #8FA998;
    border-radius: 10px;
    box-shadow: 0px 10px 13px -7px #8FA998, 5px 5px 8px 5px rgba(201,97,255,0);

   }
   
   .link-button:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 #8FA998;

   }
   
   .link-button:active {
    transform: scale(0.9);
   }

/*reverse*/

.main-container-reverse {

    background-color: white;
    display: flex;
    flex-direction: column;
    max-width: 1024px;

    
}

.title-container-reverse {
    display: flex;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: flex-end;
}

.description-container-reverse{
    
        display: flex;
        align-items: center;
        flex-direction: row-reverse;    
}


/*transition image*/

.transition-section {

    width: 100vw;
    height: 250px;
    display: flex;
    background-image: url("./assets/img/photo-1499856871958-5b9627545d1a.jfif");
    background-size: cover;
    background-position: center;
    opacity: 90%;
    filter: blur(4px);
    -webkit-filter: blur(4px);

}
